# Assignment

## A few basic exercises
### Variable Assignment
* Try a program to display your name using a variable
* Try changing that variable in code itself to something else
* Try assiging one variable to other and changing one's value

In [ ]:
a= "name"
b= "surname"

# Write code to print the variable a 

############
print(a)

# Write Code to Change variable a into 30

############
a=30
print(a)

# Write Code to assign variable a the value of b

############
a=b
print(a)

name
30
surname

### Multiple Assignment

* Try Reversing the assignements i.e. new a should be 3, b should be 2 and c should be 1

In [ ]:
a,b,c = 1,2,3

## write a single line code to reverse a,b,c using multiple assignment
a,b,c=c,b,a
######
print(a,b,c)

3 2 1

### String

* Try reversing string in one line as compared to conventional loops

In [ ]:
string = "this is a test!"

## Write Code to reverse string in one line

##
string = string[-1::-1]
print(string)

!tset a si siht

# Operators

You are provided with a list of Clubs in VJTI:
clubs = ['SRA' , 'Aero' , 'Racing' , 'DSC' , 'COC']
And a list of clubs you are a member of:
membership= ['SRA' , 'DSC']

You have to perform the following tasks:

1.   Create a boolean list respective to the clubs you are a member of without using the '==' operator:
Expected output: [true,false,false,true,false] HINT: use the membership operator

2.   Convert the boolean list into a list of binary one or zero without using the operator '=='. Expected output: [1,0,0,1,0]
HINT: Check out identity operator

In [ ]:
clubs = ['SRA' , 'Aero' , 'Racing' , 'DSC' , 'COC'] 
membership= ['SRA' , 'DSC']
# Write your code here

ls1= [y in membership for y in clubs ]
print(ls1)

print(list(map(lambda x: int(x is True),ls1)))

[True, False, False, True, False]
[1, 0, 0, 1, 0]

You are provided with the following:
expression = 4_6_9_3_23_19
Using the operators: +,-,*, /, % in places of the _ make an expression that reads the value: 25.0.

In [ ]:
expression = "4_6_9_3_23_19"
print(expression)
# write your code here
x=4*6-9/3+23-19
print(x)

4_6_9_3_23_19
25.0

# Control Statements

Complete the for loop such that whenever there is an prime number it prints the number plus "I was a prime" in the same line, otherwise it prints nothing.  


Using the looping statement and the control statements

In [ ]:

for i in range(100):
  # Write Code here
  
  if i==1:
    continue
  elif i==2 or i==3:
    print(i,"I was a prime")
    continue
  elif (i%2==0) or (i%3==0):
    continue
  else:
    k=5
    stop=int(i**0.5)
    for j in range(k,stop+1,6):
      if i%j==0 or i%(j+2)==0:
        break
    else:
      print(i,"I was a prime")

2 I was a prime
3 I was a prime
5 I was a prime
7 I was a prime
11 I was a prime
13 I was a prime
17 I was a prime
19 I was a prime
23 I was a prime
29 I was a prime
31 I was a prime
37 I was a prime
41 I was a prime
43 I was a prime
47 I was a prime
53 I was a prime
59 I was a prime
61 I was a prime
67 I was a prime
71 I was a prime
73 I was a prime
79 I was a prime
83 I was a prime
89 I was a prime
97 I was a prime

# Lists

Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings. Go to the editor  
**Sample Input** :['abc', 'xyz', 'aba', '1221']   
**Sample Output** :2  
**Explanation** :'aba' and '1221' have length greater than 2 and also has matching first and last character.

In [ ]:
list1 = ['abc','xyz','aba','1221']
# Write your code here
res=i=0
for i in list1:
    k=len(i)
    if (k>2) and (i[0]==i[-1]):
        res+=1
print(res)

2

Write a Python program to print the numbers of a specified list after removing even numbers from it.  
**Hint** : Use List Comprehension

In [ ]:
# Write your code here
list2=[21,22,34,35,67,68,100,69,100]


print([x for x in list2 if x%2!=0 ])

[21, 35, 67, 69]

# Dictionaries

Delete set of keys (keysToRemove) from a dictionary and display the resultant dictionary  
**Given** : The "sampleDict" dictionary has already been defined in the below code .

**Expected Output**:
{'city': 'New york', 'age': 25}

In [ ]:
# Given Dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}

# remove the keys present in the list below from the dictionary 
keysToRemove = ["name", "salary"]

# Write your code here
for i in keysToRemove:
    sampleDict.pop(i)
    
print(sampleDict)

{'age': 25, 'city': 'New york'}

Write a program in Python to read the admission number, name of student and his/her stream of 10 students and create a dictionary from this information. print the dictionary

In [ ]:
# Write your code here 
adn=0
n=stream=""
ls1=[]
ls2=[]
ls3=[]
for i in range(10):
    adn=int(input("Enter admission number:"))
    name =input("Enter your name:")
    stream=input("Enter your stream:")
    ls1.append(adn)
    ls2.append(name)
    ls3.append(stream)

dict1={
    "Admission Nos.":ls1,
    "Names":ls2,
    "Streams":ls3
    
}
            
print(dict1)

Enter admission number:100
Enter your name:Karan
Enter your stream:Computer Engineering
Enter admission number:101
Enter your name:Nitin
Enter your stream:EXTC
Enter admission number:104
Enter your name:Sita
Enter your stream:Civil
Enter admission number:109
Enter your name:Nalini
Enter your stream:Chemistry
Enter admission number:110
Enter your name:Padma
Enter your stream:Physics
Enter admission number:103
Enter your name:Vedant
Enter your stream:Computer engineering
Enter admission number:102
Enter your name:John
Enter your stream:IT
Enter admission number:107
Enter your name:Subodh
Enter your stream:Electrical
Enter admission number:105
Enter your name:Kamla
Enter your stream:Electronics
Enter admission number:106
Enter your name:Kamlesh
Enter your stream:
{'Admission Nos.': [100, 101, 104, 109, 110, 103, 102, 107, 105, 106], 'Names': ['Karan', 'Nitin', 'Sita', 'Nalini', 'Padma', 'Vedant', 'John', 'Subodh', 'Kamla', 'Kamlesh'], 'Streams': ['Computer Engineering', 'EXTC', 'Civil', 'Chemistry', 'Physics', 'Computer engineering', 'IT', 'Electrical', 'Electronics', '']}

# Sets and Tuples

Check if two sets have any elements in common. If yes, display the common elements.

set1 = {10, 20, 30, 40, 50}

set2 = {60, 70, 80, 90, 10}


**Expected output:**

Two sets have items in common

{10}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

# Write your code here to get common elements among them
z=set1.intersection(set2)
if len(z)==0:
  print("Two sets have no items in common")

else:
  print("Two sets have no items in common")
  print(z)

Two sets have no items in common
{10}

Write a Python program to replace last value of tuples in a list.

**Sample list:** [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

**Expected Output:** [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
list1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

# Write your code here to replace last value of tuples in the list

list2=[i[:-1]+(100,) for i in list1]


print(list2)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

## Functions

1) Write a function called ```showNumbers``` that takes a parameter called limit. It should print all the numbers between 0 and limit with a label to identify the even and odd numbers. For example, if the limit is 3, it should print:
* 0 EVEN
* 1 ODD
* 2 EVEN
* 3 ODD

In [ ]:
# Write Your code here
def showNumbers(limit):
    for i in range(0,limit+1):
        if i%2==0:
            print(i," EVEN")
        else:
            print(i," ODD")
showNumbers(3)

0  EVEN
1  ODD
2  EVEN
3  ODD

2) Write a function that takes limit(integer) as a paramter and prints all the prime numbers between 0 and limit.

In [ ]:
# Write your code here
def primeRange(limit):
    for i in range(1,limit):
        for j in range(2,i):
            if i%j==0:
                break

        else:
            print(i)

primeRange(10)

1
2
3
5
7

# Classes and Objects

Write a Python Program to create a class named **Student**. 
- It should be initialised with attributes like **name, age, rollno, favourite subject**(a single subject).

- Write a class method **getDetails()** which prints the name, age and rollno of the object in the below format.
 
  * **Expected Output Format**
> Name   : <em>name</em></br>
> Age    : <em>age</em></br>
> RollNo : <em>rollno</em></br>

  * **Expected Example Output**
> Name : Gautam</br>
Age : 20</br>
RollNo : 68

- Now, there is a list **fav_list** such that it contains a list of subjects which are favourite to the Principal.

  ``` python
    fav_list = ["EG","Mechanics","Chemistry"]
  ``` 
- You have to write a class Method **isFav()** which returns a boolean value i.e either <em>**true**</em> if any of the favourite subject of the principal matches with that of the student. Think of some suitable logic here.

- Create 2 objects of class **Student** with attributes of your choice taken via user input.

- Call Both the methods for both the objects. **Note** - Print the result of the **isFav()** method.

- **Bonus Task** - Write the body of **isFav()** method in just one line.

In [ ]:
# Write your code here 
class Student:
    name=""
    age=0
    roll_no=0
    favSub=""
    fav_list = ["EG","Mechanics","Chemistry"]
    def __init__(self,name,age,roll_no,favSub):
        self.name=name
        self.age=age
        self.roll_no=roll_no
        self.favSub=favSub
        
    def getDetails(self):
        print("Name: ",self.name)
        print("Age: ",self.age)
        print("RollNo: ",self.roll_no)
        
    def isFav(self):
        return self.favSub in self.fav_list
        

name1=input("Enter student's name:")
age1=int(input("Enter student's age:"))
roll1=int(input("Enter student's roll no.:"))
favSub1=input("Enter student's favorite subject:")
st1=Student(name1,age1,roll1,favSub1)
st1.getDetails()
print(st1.isFav())


name2=input("Enter student's name:")
age2=int(input("Enter student's age:"))
roll2=int(input("Enter student's roll no.:"))
favSub2=input("Enter student's favorite subject:")
st2=Student(name2,age2,roll2,favSub2)
st2.getDetails()
print(st2.isFav())

Enter student's name:John
Enter student's age:18
Enter student's roll no.:101
Enter student's favorite subject:BEE
Name:  John
Age:  18
RollNo:  101
False
Enter student's name:Ram
Enter student's age:19
Enter student's roll no.:10
Enter student's favorite subject:EG
Name:  Ram
Age:  19
RollNo:  10
True